<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %> 
    <title><%=title%></title>
    <style>
        .well
        {
            height:300px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center"><%=headline%></h1>
                <div class="well">
                    <ul id="messageListID"></ul>
                </div>
                <form role="form" action="#">
                    <div class="form-group col-xs-8 col-sm-10">
                            <input type="text" id="newMessage" class="form-control" placeholder="Enter Message">                                                    
                    </div> 
                    <div class="col-xs-4 col-sm-2">                         
                        <button id="sendButtonID" class="btn btn-primary">Send</button> 
                    </div>    
                </form>
            </div>
         </div>
    </div>    

    <% include partials/jsincludes.ejs %>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      var socketFromClient = io();
    </script>      
</body>
</html>