<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %> 
    <title><%=title%></title>
    <style>
        .card
        {
            height:300px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6 bg-inverse text-white">
                <h1 class="text-center"><%=headline%></h1>
                <div class="card card-block bg-faded">
                    <ul id="messageListID"></ul>
                </div>
                <br>
                <form role="form" action="#">
                    <div class="row">
                    <div class="col-10">
                        <input type="text" id="newMessageID" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Message">                                                    
                    </div>
                    <div class="col-2">
                    <button id="sendButtonID" class="btn btn-primary">Send</button> 
                    </div>
                    </div>
                </form><br>
            </div>
            <div class="col-2 bg-info text-white">
                Online Users
              </div>
         </div>
         <!-- <div class="row justify-content-center">
            <div class="col-6 bg-inverse text-white">
              One of two columns
            </div>
            <div class="col-2 bg-info text-white">
              One of two columns
            </div>
          </div> -->
    </div>    

    <% include partials/jsincludes.ejs %>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      $(document).ready(function()        
        {
            var socketFromClient = io();

            $("form").submit(function()     //When form message is submitted..
                {
                    socketFromClient.emit(
                        "New Message Event",    //Emit event name
                        $("#newMessageID").val()   //the message entered by user
                    );
                    $("#newMessageID").val("");  //Empty the text box after sending
                    return false;               //dont propogate further, submit function in browser
                }
            );

            //In case of any broadcast event from server..
            socketFromClient.on(
                "Broadcast Event",
                function(receivedMessage)
                {
                    //update in chat deck   
                    var newliElement = $("<li>").text(receivedMessage); //construct a li element tag content
                    $("#messageListID").append(newliElement);           //append to ul in chat deck
                }
            );
        }
      );
    </script>      
</body>
</html>