<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %> 
    <title><%=title%></title>
    <style>
        .well
        {
            height:300px;
        }
        /* .form-inline .form-group input 
        {
            width:590px;
        } */
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="text-center"><%=headline%></h1>
                <div class="well">
                    <ul id="messageListID"></ul>
                </div>
                <form class="form" action="#">
                    <div class="form-group col-sm-10 col-xs-12">
                        <input type="text" id="newMessage" class="form-control" placeholder="Enter Message">                                                    
                    </div> 
                    <div class="col-sm-2 col-xs-12">                         
                        <button id="sendButtonID" class="btn btn-primary">Send</button> 
                    </div>    
                </form>
            </div>
         </div>
    </div>    

    <% include partials/jsincludes.ejs %>         
</body>
</html>